<?xml version="1.0"?>
<!--
/**
 * @version    1.7.0.2 May 11, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright   Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license    http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
-->
<config>
    <tabs>
        <rockettheme translate="label" module="tinymce">
            <label>RT RokMage Modules</label>
            <sort_order>196</sort_order>
        </rockettheme>
    </tabs>
    <sections>
        <tiny_mce translate="label" module="tinymce">
            <label>TinyMCE</label>
            <tab>rockettheme</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enabledtinymce translate="label">
                            <label>Enable Tiny MCE for RokMage Extensions:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabledtinymce>
						<enabledfor translate="label">
                            <label>Textareas to enable for:</label>
							<comment><![CDATA[Add ID's for textareas you wish to enable TinyMCE on]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabledfor>	
                    </fields>
                </general>
            </groups>
        </tiny_mce>
    </sections>
</config>