body {color: #2F2F2F; font: 12px/1.55 Arial,Helvetica,sans-serif;}
.fb-list {width: 500px;}
.fb-list .category-products {}
.fb-list .category-products .products-list{margin: 0; padding: 0;}
.fb-list .category-products .products-list .item {display: block; float: left; margin: 0 0 30px; width: 100%;}
.fb-list .category-products .products-list .item .left_column {float: left; width: 150px;}
.fb-list .category-products .products-list .item .left_column .product-image{box-shadow: 1px 1px 3px #C4C3C2; -moz-box-shadow: 1px 1px 3px #C4C3C2; -webkit-box-shadow: 1px 1px 3px #C4C3C2; float: left; width: 135px; margin: 20px 0 0;}
.fb-list .category-products .products-list .item .left_column .product-image img{border: 0 none;}
.fb-list .category-products .products-list .item .right_column {float: left; width: 350px;}
.fb-list .category-products .products-list .item .right_column .product-name {}
.fb-list .category-products .products-list .item .right_column .product-name a {color: #203548;text-decoration: underline;font-size: 17px; font-weight: bold;}
.fb-list .category-products .products-list .item .right_column .price-box{color: #2F2F2F; font: 12px/1.55 Arial,Helvetica,sans-serif;margin: 0 0 10px;}
.fb-list .category-products .products-list .item .right_column .price-box  .price-label{font-weight: bold; white-space: nowrap;}
.fb-list .category-products .products-list .item .right_column .price-box .price {color: #C76200; font-weight: bold;}
.fb-list .category-products .products-list .item .right_column .price-box .regular-price .price {color: #C76200; font-size: 13px; font-weight: bold; }
.fb-list .category-products .products-list .item .right_column .product-shop {}
.fb-list .category-products .products-list .item .right_column .product-shop .desc {}
.fb-list .category-products .products-list .item .right_column .product-shop .add-to-links{margin: 10px 0 0; padding: 0;}
.fb-list .category-products .products-list .item .right_column .product-shop .add-to-links li {display: block;}
.fb-list .category-products .products-list .item .right_column .product-shop .add-to-links li span {background: none repeat scroll 0 0 #F18200; border: 1px solid #DE5400; color: #FFFFFF; display: block; font: bold 12px/19px Arial,Helvetica,sans-serif; height: 19px; padding: 0 8px; text-align: center; white-space: nowrap;width: 100px;}
.fb-list .category-products .products-list .item .right_column .product-shop .add-to-links li span a {border: 0 none; padding: 0;text-decoration: none;color: #FFFFFF !important; font-weight: bold;}
